html{
  position:relative;
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/

html, body{
    margin:0;
    padding:0;
    height: 100%;
}

.nav-color{
	background-color:#292929;  /*#36313a*/
	margin-bottom: 0px;
}

a {
    color: white;
}

a span {
    color: white;
}

#welcome{
	    text-align: center;    
}

#welcome-h1{
     		font-size: 75px;
    		color: brown;
    		font-weight:20;
    		text-shadow: 2px 2px 2px grey,
    		             2px 2px 2px orange;
}

#welcome-h3{                                              
        font-size: 25px;                                    
        text-shadow: 2px 2px 2px red,                       
                     2px 2px 2px yellow;                     
}     

.attractive-btn{
  margin-left: auto;
  margin-right: auto;
  outline:none;
  border:none;
  background: #fbca27;
  border-radius:25px;
  display:block;
  color:white;
  box-shadow: 0px 7px orange;
  position:relative;
}

.attractive-btn:hover{
  border: none;
  outline: none;
  cursor:pointer;
  box-shadow: 0px 5px orange;
  top: 2px;
  transition: 2s;
}

.attractive-btn:active{
  border:none;
  box-shadow:none;
  outline:none;
  top:6px;
  transition: 1.5s;
}                                                           
    
#welcome-hr{
  width: 70%;
  border-color:white;
}

.modal-header .modal-title{
    margin-bottom: 0;
    line-height: normal;
}


.modal-header .close{
margin: -1rem -9rem -1rem auto;
}


#artistheading{
  color: #004866;
  text-align: center;
  max-width: 1200px;
  line-height: 1.3em; 
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size:4.0em; 
  font-family: 'Merriweather', 'times', serif;
}

.row{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail img{
  height: 250px;
  width: 250px;
}

.phone-icon{
	transform: scaleX(-1);
}

.page-bg-login{
  background-image: url('bg3.jpeg');
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
}

.page-bg-artworks{
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
}


.btn-home{
		font-size: 30px;
/*  background-color: rgb(127,255,212);*/
		border: 2px solid brown;
}

.p-thankyou{
  text-align: justify-all;
}


/* - - - - - - - - - - - - - - - - - - CAROUSEL CSS - - - - - - - - - - - - - - - -  - -*/

.car-img{
	opacity: 1;
  /*min-height: 480px;*/
  max-height: 830px;
}

/* - - - - - - - - - -  - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - -  - - - - - - - */ 


.thumbnail{
  margin: 0 auto 20px auto;
}

/*FOOTER CSS */

#footer{
  background-color: yellow;
  background-color: #292929;
  width: 100%;
  padding: 20px 20px;
}


.p-footer{
  text-align: justify;
  font-size: 16px;
  color: #42bce2;
  width: 450px;
  line-height: 1.5em;
}

.footer-info{
  font-weight: 400;
  line-height: 1.75;
  min-width: 0;
}

#contact-icon{
 font-size :34px;
}

#contact-no{
  font-size: 28px;
}

#contact-email{
  font-size: 28px;
}
*/
.clear{
  clear: both;
}

#artworks-bg{
  background-size: cover;
  background-repeat: no-repeat;
}

.emoji{
  height:300px; 
  display: block;
  margin: 50px auto;
}

#no-submissions{
  font-size: 60px;
  text-align: center;
  margin-top: 20px
}
/*------------------------------------------- MEDIA QUERIES -------------------------------- */

/*---------------------------------------FOR EXTRA SMALL DEVICES -----------------------  */

@media (max-width: 575px) {
 
}

/* - - --- -- - - - - - - - - - - - -  - - - - - - - - - - - -  - - --------------------------------------- */

/* ------------------------------------ small devices (landscape phones) -------------------------------------- */
@media (min-width: 576px) {


}
 /*--------------------------------------------------------------------------------------------------------------------*/


 /*------------------------------------------  Medium devices tablets -------------------------------- */

@media (min-width: 768px) {
   
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------- Large devices desktops ----------------------------- */

@media (min-width: 992px) {
        
}

/* --------------------------------------------------------------------------------------------- */

/* ---------------------------------- Extra large devices (large desktops) ---------------------------------*/

@media (min-width: 1200px) {


}

/* ------------------------------------------------------------------------------------------------------------------- */

/* ---------------- (max-width is just 1 less than that of min-width fro media queries) FOR GIVEN SCREEN OR SIZE (SMALL SIZE screens) ---------------- */
@media (max-width: 575px) {

}

@media (max-width: 767px) {

}

@media (max-width: 991px) {

}

@media (max-width: 1199px) {

}    