<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/stylesheets/footer.css" rel="stylesheet" type="text/css">

<footer id="footer">
		<div class="main-footer">
			<div class="text-justify">
				<h5 class="footer-heading">ABOUT</h5>
				<div class="p-footer"">
							We have a simple vision of providing a free concert ticket of an artist/band who are currently on their international tour. So search for your nearby city and book a ticket and show us your zeal by showcasing us your enthusiasm towards your favourite artist/band by uploading your best artworks/covers related to them and our team will shortlist 10 winners.
						</div>
	        </div>

		    <div>
				<h5 class="footer-heading">FOLLOW US</h5>
					<div class="iconsContainer">
						<a href="https://www.facebook.com/dipesh162/" target="_blank" class="fa fa-facebook"></a>
						<a href="https://www.twitter.com/dipesh_162" target="_blank" class="fa fa-twitter"></a>
						<a href="https://www.instagram.com/dipesh_162" target="_blank" class="fa fa-instagram"></a>
					</div>
			</div>

			<div>
				<h5 class="footer-heading">CONTACT US</h5>
					<div class="iconsContainer">
						<a href="https://www.linkedin.com/in/dipesh162/" target="_blank" class="fa fa-linkedin"></a>
						<a href="mailto:dipeshsingh162@gmail.com"" target="_blank" class="fa fa-google"></a>
					</div>
			</div>

		</div>

		<div class="footerRegistration">
			<div style="color: #F0F2F2; font-size: 16px;">Register for free </div>
			<button class="btn btn-default btn-lg footerSignupBtn"><a href="/register">Sign Up!</a></button>
		</div>

		<div class="footer-copyright">
			&#169 2023 Copyright: freetourtickets
		</div>
</footer>


</body>

</html>