
</div>

 <footer class="text-white bg-dark" id="footer">
     <div class="row">
	       <div class="col-md-4 text-center text-justify">
	          <div class="container text-center">
				   <strong>
						<span style="color: #27ae60ff; font-size: 52px; font-weight: 700; font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif;">
							Free Tour Tickets'19
						</span>
				    </strong>
					<div class="p-footer" style="width: 100%;">
					    We have a simple vision of providing a free concert ticket of an artist/band who are currently on their international tour. So search for your nearby city and book a ticket and show us your zeal by showcasing us your enthusiasm towards your favourite artist/band by uploading your best artworks/covers related to them and our team will shortlist 10 winners.
					</div>
	          </div>
	       </div>

	       <div class="col-md-4 text-center text-justify">
         		<div style="color: white; font-size: 43px; font-weight: 700; font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif;">
					Follow Us 
					<br>
						<a href="https://www.facebook.com/dipesh162" style="margin-left:5px; margin-top: 10px;" title="Like us on facebook" target="_blank">
							<img src="../facebook.png">
						</a>
						<a href="https://www.instagram.com/dipesh_162/" title="Follow us on instagram" target="_blank">
							<img src="../instagram.png">
						</a>
						<br>
						<a href="https://twitter.com/dipesh162" style="margin-left:-4px;" title="Follow us on twitter" target="_blank">
							<img src="../twitter.png">
						</a>
						<a href="#" title="Watch us on youtube" target="_blank">
							<img src="../youtube.png">
						</a>
				</div>
	      </div>

	      <div class="col-md-4 text-center text-justify">
	      	  <div class="container">
			        <strong>
			 			<div style="color: white; font-size: 43px; font-weight: 700; font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif;">
							Contact Us
						</div>
					</strong>
					<br>
					<i class="fas fa-phone phone-icon" id="contact-icon" style="color: #27ae60ff;"></i><a href="#" style="text-decoration: none;"><span id="contact-no"> +91 7840825848</span></a> 
					<br>
					    <i class="fas fa-envelope" id="contact-icon" style="color: #27ae60ff;"></i><a href="mailto:dipeshsingh162@gmail.com"><span id="contact-email" style="font-size: 28px"> dipeshsingh162@gmail.com</span></a>
					<br>
			  </div>
	      </div>              
     </div> 
 </footer>

<!--  <div class="container-fluid" style="position: absolute; bottom:0%; background-color: #292929; width: 100%; height: 355px;">
 	<div class="footer-items">
</div>
<div class="footer-items"><h1>def</h1></div>
<div class="footer-items"><h1>def</h1></div>
</div>

 <div id="footer" style="padding-left: 100px;">
   
		<div class="footer-divs text-center one">
		    <strong>
				<span style="color: #27ae60ff; font-size: 52px; font-weight: 700; font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif;">
					Free Tour Tickets'19
				</span>
			</strong>
		    <div class="p-footer">
		    	We have a simple vision of providing a free concert ticket of an artist/band who are currently on their international tour. So search for your nearby city and book a ticket and show us your zeal by showcasing us your enthusiasm towards your favourite artist/band by uploading your best artworks/covers related to them and our team will shortlist 10 winners.
		    </div>	 
		</div>
        

        
		<div class="footer-divs text-center two">
		    <strong>
				<div style="margin-left: 100px;">  
					<div style="color: white; font-size: 43px; font-weight: 700; font-family: "Nunito", Arial, "Helvetica Neue", Helvetica, sans-serif;">
						Follow Us 
						<br>
						<a href="https://www.facebook.com/dipesh162" style="margin-left:5px; margin-top: 10px;" title="Like us on facebook" target="_blank"><img src="facebook.png"></a>
						<a href="https://www.instagram.com/dipesh_162/" title="Follow us on instagram" target="_blank"><img src="instagram.png"></a>
						<br>
						<a href="https://twitter.com/dipesh162" style="margin-left:-4px;"title="Follow us on twitter" target="_blank"><img src="twitter.png"></a>
						<a href="#" title="Watch us on youtusbe"><img src="youtube.png" target="_blank"></a>
					</div>
				</div>
			</strong>
		    <p class="p-footer"></p> 
		</div> 
				
        
        
		<div class="footer-divs text-center three" style="margin-left: 220px;">  
		  <strong> -->
	<!-- 			<div style="color: white; font-size: 43px; font-weight: 700; font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif;">
					Contact Us
				</div>
			</strong>
			<br>
			<i class="fas fa-phone phone-icon" id="contact-icon" style="color: #27ae60ff;"></i><a href="#" style="text-decoration: none;"><span id="contact-no"> +91 7840825848</span></a> 
		
			<br>
			<i class="fas fa-envelope" id="contact-icon" style="color: #27ae60ff;"></i><a href="mailto:dipeshsingh162@gmail.com"><span id="contact-email" style="font-size: 28px"> dipeshsingh162@gmail.com</span></a>
			<br>
	    </div>  
    <div class="clear"></div>
    		Free Tour Tickets 2018

</div>  -->


</body>
</html>