<% include partials/header.ejs %>

<h1 id="artistheading">Artists/Bands On Tour</h1>



<div class="row text-center">
<%	celeb.forEach(function(celeb){   %>
	<div class="col-lg-3 col-md-4 col-sm-6">
	 	<div class="thumbnail">
	 		<img src="<%= celeb.image %>">
	 	    <div class="caption" style="width: 100%">
		        <h3><%= celeb.celebName %></h3>
		    </div>
		<a class="btn btn-danger btn-lg" href="/events/<%= celeb._id %>">INFO</a>
	    </div>
    </div>
 <% }) %>
</div>


<% include partials/footer.ejs %>