<% include partials/header.ejs %>

<div class="page-bg-login">
   <h1 class="ftt-heading">FreeTourTickets'19</h1>
   <h5 class="ftt-login-register">Login to your account</h5>
   <hr class="hr-reg">
   <div class="login-reg-form-div">
     <p class="container">
       <form action="/login" method="POST">
         <div class="form-group">
           <input class="form-control form-group signup-input" type="text" name="username" placeholder="Username">
           <input class="form-control form-group signup-input" type="password" name="password" placeholder="Password">
         </div>
         <p><input type="submit" class="btn btn-primary login-register-btn" value="Login"></p>
       </form>
     </p>
   </div>
</div>

<% include partials/footer.ejs %>