<% include partials/header %>

<% if(orders.length === 0){ %>
	<div style="height: 650px;">
        <h1 id="no-submissions">No Orders Yet</h1>
        <img src="/emoji.png" class ="emoji">
    </div>
<% } %>

<% else{ %>
	<% orders.forEach(function(order){ %>
		<h1><%= order.bgImage %></h1>
		<h1><%= order.tourDate[order.tourIndex] %></h1>
		<h1><%= order.tourCity[order.tourIndex] %></h1>
		<h1><%= order.tourCountry[order.tourIndex] %></h1>
	<% }) %>
<% } %>
<div style="height: 60%;"></div>



<% include partials/footer %>

