<% include partials/header %>



<% orders.forEach(function(order){ %>
	
	<%= order.bgImage %>
	<%= order.tourDate[order.tourIndex] %>
	<%= order.tourCity[order.tourIndex] %>
	<%= order.tourCountry[order.tourIndex] %>
<% }) %>
<div style="height: 60%;"></div>



<% include partials/footer %>

