<% include partials/header %>

<h1>orders</h1>
<!-- orders.forEach(function(order)){
	order.name,
	order.bgImage,
	order.tourDate[order.tourIndex],
	order.tourCity[order.tourIndex],
	order.tourCountry[order.tourIndex]
}) -->

<%- include('partials/footer.ejs'); -%>

