<% include partials/header.ejs %>

<% if(submission.length === 0){ %>
  <div style="height: 650px;">
    <h1 id="no-submissions">No Submissions Yet</h1>
    <img src="emoji.png" class ="emoji">
  </div>
<% } %> 


<% if(submission.length !== 0){ %> 

  <% submission.forEach(function(sub){ %>
      <% if(sub.uploads.length!== 0) { %>
          <img src="/<%= sub.bgImage %>" alt="">

            <% for(var i=0; i< sub.uploads.length; i++){ %>
              <h1>Sketches:</h1>
              <img src="/<%= sub.uploads.sketch %>" alt="">
              <h1>Videos:</h1>
              <video width="500" height="500" controls>
                <source src="/<%= sub.uploads.cover %>" type="video/mp4">
              </video>
            <% } %>  
      <% } %>
   <% }) %>

  <div style="height: 500px;"></div>

<% } %>


<% include partials/footer.ejs %>

