<%- include('partials/header.ejs'); -%>
<link rel="stylesheet" type="text/css" href="../stylesheets/admin-uploads.css" >

<div class="admin-upload-container">
    <% if(sketches.length === 0 && covers.length === 0){ %>
        <div style="height: 650px;">
            <h1 id="no-submissions">No Uploads Yet</h1>
            <img src="/emoji.png" class ="emoji">
        </div>
    <% } %> 

    <% if(sketches.length !== 0) { %>
        <h1 class="user_uploads_heading">Sketches <i style="font-size: 24px;" class="fas fa-paint-brush"></i></h1>
        <div class="container">
            <div class="row">
                <div class="uploads-row">
                    <% for(var i = 0; i < sketches.length; i++){ %>
                        <div style="margin: 0px 16px 0px; position: relative;">
                            <img class="upload-img" src="/<%= sketches[i].sketch %>" alt="">

                            <% if(sketches[i].shortListed){ %>
                                <div 
                                    class="shortlisted-item"
                                >
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            <% } else{ %>
                                <div></div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>    

    <% if(covers.length !== 0) { %> 
        <h1 class="user_uploads_heading">Covers <i style="font-size: 24px;" class="fas fa-video"></i></h1>
        <div class="container">
            <div class="row">
                <div class="uploads-row">
                    <% for(var j = 0; j < covers.length; j++){ %>
                        <div style="margin: 0px 16px 0px;  position: relative;">
                            <video class="upload-cover" width="300" height="auto" controls>
                                <source src="/<%= covers[j].cover %>" type="video/mp4">
                            </video>

                            <% if(covers[j].shortListed){ %>
                                <div 
                                    class="shortlisted-item"
                                >
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            <% } else{ %>
                                <div></div>
                            <% } %>
                        </div> 
                    <% } %>
                </div>
            </div>
        </div> 
    <% } %>
</div>
<%- include('partials/footer.ejs'); -%>
