<% uploads.forEach(function(upload){ %>
    <img src="/<%= upload.sketch %>" alt="">
    <video width="500" height="500" controls>
        <source src="/<%= upload.cover %>" type="video/mp4">
      </video>
<% }) %>


<h2>hi</h2>
