<%- include('partials/header.ejs'); -%>

<div style=" background: #8e9eab; background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); background: linear-gradient(to right, #eef2f3, #8e9eab); padding: 40px">
    <% if(sketches.length === 0 && covers.length === 0){ %>
        <div style="height: 650px;">
        <h1 id="no-submissions">No Uploads Yet</h1>
        <img src="/emoji.png" class ="emoji">
        </div>
    <% } %> 

    <% if(sketches.length !== 0 || covers.length !== 0) { %>
        <h1 style="font-family: BodoniXT; font-size: 50px; text-transform: uppercase; text-align: center">Sketches <i style="font-size: 40px;" class="fas fa-paint-brush"></i></h1>
        
        <div class="container">
            <div class="row">
            <% for(var i = 0; i < sketches.length; i++){ %>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div style="width: 250px; height: 250px; border: 1px solid brown; margin: 30px auto">
                            <img src="/<%= sketches[i] %>" alt=""; style="width: 100%; height:100%">
                        </div>
                    </div>
            <% } %>
            </div>
        </div>


        <h1 style="font-family: BodoniXT; font-size: 50px; text-transform: uppercase; text-align: center">Covers <i style="font-size: 40px;" class="fas fa-video"></i></h1>
        <div class="container">
            <div class="row">
            <% for(var j=0; j< covers.length; j++){ %>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- <div style="margin: 20px auto;"> -->
                            <video width="250" height="250" controls style="margin: 20px auto;">
                                <source src="/<%= covers[i] %>" type="video/mp4">
                            </video>
                        <!-- </div>     -->
                    </div> 
            <% } %>
            </div>
        </div> 
    <% } %>
</div>
<% include partials/footer.ejs %>
