.submissions-row{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.upload-img{
    width: 100%;
    height: auto;
    max-width: 300px;
    border: 1px solid brown;
}

.upload-cover{
    width: 100%;
    height: auto;
    max-width: 300px;
    border: 1px solid brown;
}